:root {
  --primary_text_color: #eeeeee;
  --secondary_text_color: #9E9E9E;
  --primary_bg_color: #272727;
  --secondary_bg_color: #161616;
  --primary_color: #E1B000;
  --container_padding_y: 2rem;
  --container_padding_x: 2rem;
}