:root {
  --primary_text_color: #eeeeee;
  --secondary_text_color: #9E9E9E;
  --primary_bg_color: #272727;
  --secondary_bg_color: #161616;
  --primary_color: #E1B000;
  --secodary_color: #CC3C3C;
  --tertiary_color: #76B65E;
  --container_padding_y: 2rem;
  --container_padding_x: 2rem;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--primary_bg_color);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
    background: transparent;
}